<div id="<%= dom_id name_symbol %>">
  <p>
    <strong>Name of Element:</strong>
    <%= name_symbol.name_of_element %>
  </p>

  <p>
    <strong>Symbol of Element:</strong>
    <%= name_symbol.symbo_of_element %>
  </p>

</div>
