<h1>Editing name symbol</h1>

<%= render "form", name_symbol: @name_symbol %>

<br>

<div>
  <%= link_to "Show this name symbol", @name_symbol %> |
  <%= link_to "Back to name symbols", name_symbols_path %>
</div>
